:root {
	--white: #fff;
	--black: #222;
	--dk-black: #333;
	--lt-gray: #f8f8f8;
	--gray: #eee9e9;
	--dk-gray: #555;
	--yellow: #ffdf00;
	--purple: #8357f6; /* Normal Text AA on White or Light Gray BG */
	--navy: #2d5273; /* Normal Text AAA on White or Light Gray BG */
	--green: #687363; /* Normal Text AA on White or Light Gray BG */
	--orange: #bf7e45; /* Accent Only */
	--lt-blue: #448aa6; /* Accent Only */
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 
.lustria-regular {
  font-family: "Lustria", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Lustria", serif;
	font-weight: 400;
	font-style: normal;
	font-optical-sizing: auto;
	color: var(--black);
	line-height: 1.65;
	background-color: var(--white);
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: inline-block;
	vertical-align: text-bottom;
	width: 1.333rem;
	height: 1.333rem;
	stroke: var(--black);
	fill: var(--black);
}

h1,
h2,
h3,
h4,
.primary_logo,
.site_title,
.navigation,
.footer {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.25;
}

button {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

a {
	color: var(--navy);
	text-decoration-color: var(--navy);
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.scroll_point {
	position: relative;
	top: -90px;
}

.section {
	padding: 3rem 1rem 3.5rem;
}

.wrap {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0;
}

/* Header */
.header {
	position: sticky;
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	padding: 0 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
	z-index: 1;
}

.primary_logo {
	font-size: 1.25rem;
	width: calc(50% - 233.455px);
}

.primary_logo a {
	color: var(--black);
	text-decoration: none;
}

.primary_logo a:focus,
.primary_logo a:hover,
.primary_logo a:active {
	color: var(--navy);
}

@media (max-width: 1024px) {
	.header {
		padding: 0 1rem;
	}

	.primary_logo {
		width: auto;
	}
}

/* Navigation */
.site_title-wrap,
.menu_button,
.navigation .copyright {
	display: none;
}

.navigation {
	width: calc(50% + 233.455px);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
}

.navigation a {
	color: var(--black);
	text-decoration-color: transparent;
	white-space: nowrap;
}

.navigation a:focus,
.navigation a:hover,
.navigation a:active {
	text-decoration-color: var(--black);
}

.main_nav,
.social_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

@media (max-width: 1200px) {
	.main_nav {
		gap: 0.75rem;
	}
}

@media (max-width: 1024px) {
	.site_title-wrap,
	.menu_button,
	.navigation .copyright {
		display: block;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		flex-direction: column;
		align-items: flex-start;
		padding: 4rem 1rem 1rem;
		width: 300px;
		max-width: 100%;
		height: 100dvh;
		top: 0;
		left: -300px;
		transform: translateX(0);
		background-color: var(--black);
		color: var(--white);
		transition: visibility 300ms linear, transform 300ms linear;
	}

	.dark .navigation {
		box-shadow: 1px 0 1px 1px rgba(255, 255, 255, 10%);
	}

	.navigation a {
		color: var(--white);
	}

	.navigation a:focus,
	.navigation a:hover,
	.navigation a:active {
		text-decoration-color: var(--white);
	}

	.site_title-wrap {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.site_title {
		font-size: 1.25rem;
		font-weight: 400;
		margin-right: 1rem;
	}

	.main_nav {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: 0;
	}

	.main_nav li {
		width: 100%;
		padding: 1rem 0;
		border-bottom: 1px solid var(--dk-gray);
	}

	.main_nav li:last-of-type {
		border-bottom: none;
	}

	.main_nav a {
		display: block;
		width: 100%;
	}

	.main_nav svg {
		stroke: var(--white);
	}

	.menu_button {
		padding: 0.25rem;
		background-color: transparent;
		border-radius: 10px;
		transition: background-color 300ms ease-in-out;
	}

	.menu_button svg {
		width: 2.5rem;
		height: 2.5rem;
		stroke: var(--black);
		transition: stroke 300ms ease-in-out;
	}

	.open_button:focus,
	.open_button:hover,
	.open_button:active {
		background-color: var(--navy);
	}

	.open_button:focus svg,
	.open_button:hover svg,
	.open_button:active svg {
		stroke: var(--white);
	}

	.close_button:focus,
	.close_button:hover,
	.close_button:active {
		background-color: var(--white);
	}

	.close_button svg {
		stroke: var(--white);
	}

	.close_button:focus svg,
	.close_button:hover svg,
	.close_button:active svg {
		stroke: var(--black);
	}

	.menu_active .open_button {
		visibility: hidden;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translateX(300px);
	}
}

/* Social Nav Icons */
.social_navigation {
	width: auto;
}

.social_nav {
	justify-content: space-between;
	gap: 0.25rem;
}

.social_nav a {
	display: block;
	padding: 0.8335rem;
	background-color: transparent;
	border-radius: 10px;
	transition: background-color 300ms ease-in-out;
}

.social_nav a:focus,
.social_nav a:hover,
.social_nav a:active {
	background-color: var(--navy);
}

.social_nav a svg {
	fill: var(--black);
	transition: fill 300ms ease-in-out;
}

.social_nav a:focus svg,
.social_nav a:hover svg,
.social_nav a:active svg {
	fill: var(--white);
}

@media (max-width: 1024px) {
	.navigation .social_navigation {
		width: 100%;
	}

	.navigation .social_nav {
		flex-wrap: wrap;
		gap: 0;
	}

	.navigation .social_nav a:focus,
	.navigation .social_nav a:hover,
	.navigation .social_nav a:active {
		background-color: var(--white);
	}

	.navigation .social_nav a svg {
		fill: var(--white);
	}

	.navigation .social_nav a:focus svg,
	.navigation .social_nav a:hover svg,
	.navigation .social_nav a:active svg {
		fill: var(--black);
	}
}

/* Gallery */
.gallery_section {
	padding: 0 1rem 3.5rem;
}

.gallery_section h2 {
	text-align: center;
	margin: 0 0 3rem;
}

.gallery_section .wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.gallery_section .figure {
	position: relative;
	margin: 0 0 0.5rem;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.gallery_section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery_section .play_video {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0.5rem 0.333rem 0.5rem 0.666rem;
	border: 2px solid var(--navy);
	border-radius: 50%;
	background-color: var(--white);
	transform: translate(-50%, -50%);
	transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.gallery_section svg {
	width: 2rem;
	height: 2rem;
	fill: var(--navy);
	transition: fill 300ms ease-in-out;
}

.gallery_section .play_video:focus,
.gallery_section .play_video:hover,
.gallery_section .play_video:active {
	border: 2px solid var(--white);
	background-color: var(--navy);
}

.gallery_section .play_video:focus svg,
.gallery_section .play_video:hover svg,
.gallery_section .play_video:active svg {
	fill: var(--white);
}

.video_title {
	font-size: clamp(1rem, 1.5vw, 1.1rem);
	font-weight: 500;
	letter-spacing: 0;
	text-transform: none;
	line-height: 1.5;
}

@media (max-width: 1024px) {
	.gallery_section h2 {
		margin: 0 0 1rem;
	}

	.gallery_section .wrap {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 768px) {
	.gallery_section .wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 600px) {
	.gallery_section .wrap {
		grid-template-columns: 1fr;
	}
}

/* Content Sections */
.gray_section {
	background-color: var(--lt-gray);
}

.gray_section h3,
.white_section h3 {
	text-align: center;
	margin: 0 0 2rem;
}

.gray_section .wrap,
.white_section .wrap {
	max-width: 52rem;
}

.gray_section p,
.white_section p {
	font-size: clamp(1rem, 2vw, 1.25rem);
	line-height: 1.85;
}

/* Footer */
.footer {
	padding: 2rem 0;
}

.footer .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
}

@media (max-width: 768px) {
	.footer .wrap {
		flex-direction: column;
	}
}

/* Modal Dialog */
.dialog {
	overflow: hidden;
}

.dialog_modal {
	padding: 1.5rem;
	border: 0;
	background-color: transparent;
	max-width: min(100%, 150vh);
}

.dialog_frame {
	width: 1200px;
	max-width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.dialog_modal iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.dialog_modal::backdrop {
	background-color: rgba(0, 0, 0, 80%);
}

.close_dialog {
	padding: calc(0.5rem - 2px);
	position: absolute;
	top: 0;
	right: 0;
	border: 2px solid var(--white);
	border-radius: 50%;
	background-color: var(--black);
	z-index: 3;
	transition: background-color 300ms ease-in-out;
}

.close_dialog:focus,
.close_dialog:hover,
.close_dialog:active {
	background-color: var(--white);
}

.close_dialog svg {
	stroke: var(--white);
	transition: stroke 300ms ease-in-out;
	width: 2rem;
	height: 2rem;
	fill: var(--navy);
}

.close_dialog:focus svg,
.close_dialog:hover svg,
.close_dialog:active svg {
	stroke: var(--black);
}

/* Dark Mode */
.wrap:has(.dark_mode-container) {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 1rem 0;
}

.dark_mode-container {
	width: 75px;
	height: 35px;
	border-radius: 50vh;
	border: 2px solid var(--navy);
	background-color: var(--white);
	transition: background-color 300ms ease-in-out;
}

.dark_mode {
	width: 25px;
	height: 25px;
	margin: 3px;
	border-radius: 50%;
	transform: translateX(0);
	background-color: var(--navy);
	transition: transform 150ms linear;
}

.light_svg svg {
	fill: var(--yellow);
	filter: drop-shadow(1px 1px 1px rgba(255, 223, 0, 0.4));
}

.dark_svg svg {
	fill: var(--purple);
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.dark .dark_mode-container {
	background-color: var(--purple);
}

.dark .dark_mode {
	transform: translateX(40px);
}

body.dark {
	color: var(--lt-gray);
	background-color: var(--black);
}

.dark .gray_section {
	background-color: var(--dk-black);
}

.dark a {
	color: var(--white);
	text-decoration-color: var(--white);
}

.dark a:focus,
.dark a:hover,
.dark a:active {
	text-decoration-color: transparent;
}

.dark .header {
	background-color: var(--black);
	box-shadow: 0 1px 1px 1px rgba(255, 255, 255, 10%);
}

.dark .open_button svg {
	stroke: var(--white);
}

.dark .open_button:focus,
.dark .open_button:hover,
.dark .open_button:active {
	background-color: var(--white);
}

.dark .open_button:focus svg,
.dark .open_button:hover svg,
.dark .open_button:active svg {
	stroke: var(--black);
}
.dark .navigation {
	background-color: var(--black);
	color: var(--white);
}

.dark .navigation a {
	text-decoration-color: transparent;
	color: var(--white);
}

.dark .navigation a:focus,
.dark .navigation a:hover,
.dark .navigation a:active {
	text-decoration-color: var(--white);
}

.dark .main_nav svg {
	stroke: var(--white);
}

.dark .social_nav a:focus,
.dark .social_nav a:hover,
.dark .social_nav a:active {
	background-color: var(--white);
}

.dark .social_nav a svg {
	fill: var(--white);
}

.dark .social_nav a:focus svg,
.dark .social_nav a:hover svg,
.dark .social_nav a:active svg {
	fill: var(--black);
}

@media (max-width: 1024px) {
	.wrap:has(.dark_mode-container) {
		padding: 1rem;
		justify-content: center;
	}
}
